html, body, #container {background-color: whitesmoke; height: 100%;}
body > #container { height: auto; min-height: 100%;}

#footer {
clear: both;
position: relative;
z-index: 10;
height: 3em;
margin-top: -3em;
}
